<div class="flex justify-between p-8">
  <div class="w-full">
    <h1 class="text-4xl font-bold text-center">Patch Notes v4.0.0</h1>
    <br>
    <h4 class="text-xl font-bold">September 15, 2023 · <%= distance_of_time_in_words_to_now(Date.new(2023, 9, 15).in_time_zone('Pacific Time (US & Canada)')) %> ago</h4>
    <p><em>by: Patrick Kim</em></p>
    <br>
    <p class="border-b-2 border-black">We implemented a flexible authentication solution that provides users to sign up, in, & out, and edit their profile by utilizing a gem called Devise.</p>
    <br>
    <div class="flex justify-items-start">
      <%= image_tag "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAA2CAYAAACP8mT1AAAAAXNSR0IArs4c6QAAAnlJREFUeF7t2VFOwzAMBmB2Fi60K3AvJB44wLgQZwF1UqZSkvi3/Tt2pfFK59rfHCftLu+ft5+X5x8kcHliQU73i5Zhvb5d7zf8/vjCswOujIrbu/USrFZQS4AFFhV39B2FYx0LYoFFxZ01cyjWqCDvcpzF9cZOwZIKshaFxLXGlkZkSGehBWmL0sTVxpagQnZDaZb0/o8MfOlz0n0RDOkaamehCUuFH5NGr0fvL6GE74baRD0As07U5qGBo3SWNUEJTPr/qFBrPhKcG8ub2AjECtUK9uZFP8GzEkJ2OWQTQGadZ5c0dxYLSuoET3HbZ5l5mrCYCey7oXpcNdbqgrydJXWuZnmrsDKgWA/ejCUJY2VCVQGDsFZC7ZeF9/jAPoeJWFlQs1mjmTNMsClWNlQ1sCFWFahKYF2salBVwP5hVYWqAPYHqzpUNtgDayUU41Secaw4JVbUFzs65bejStoytHZXFtSWb+qA14JlQnWxGA+czFMz862BJq/eU0KJQ6nUYdkd1ZDLPO6MwKpADZdhlbeXlaAgrKwZVg0KxsoA6w3jqFczaFzxfVbmktzfGy1otONJB87Z56AB3wsQtTxmvx1WgFItw8wO82KxniNVyzASTPpV2grGgjJ3FvtULUG1+2nBmFBuLMYuOSrIOxvZUBQsD5hUkBVMiovsfL1rzDPrGExbGFpQVFwLGA1L02EolHY2auNqwahYCJi1IKnDrHE1YHSsGZj3EQbdNbf7aHdOBC0ECwWzFISAWeKmYklgnoKiH41GcGGdNRvOHqjouLMOC8c6dhgDqgfGjJvWWfvCIgralmRE3NBDKTIgz37NkmV4dqSW/y/eOIpTgmaEQwAAAABJRU5ErkJggg==" %>
      <h2 class="text-4xl font-bold m-2">New Implementations</h2>
    </div>
    <br>
    <ul class="border border-black p-4">
      <div class="divide-y-2 divide-black">
        <p><em>Although this website might be a portfolio as of right now, but account creation was added due to the fact that the website will have a blog and other factors that users can utilize while signed in. Do you personally like using Devise or do you prefer other libraries for users to create their account?</em></p>
        <br>
        <p></p>
      </div>
      <br>
      <li><strong>Users</strong></li>
      <br>
      <p><em>You don't necessarily need to sign up, but you're more than welcome to, who knows, maybe there is some content only signed in users can see?</em></p>
      <br>
      <ul class="list-disc list-inside">
        <li>Installed and configured Devise.</li>
        <li>Migrated in username, first_name, last_name, and roles attributes to user model.</li>
        <li>Username, first name, and last name has to be filled up during sign up form.</li>
        <li>Usernames are unique during sign up form.</li>
        <li>User has two roles; member and admin.</li>
        <li>When users register, they are defaulted to member role.</li>
        <li>Currently, there is no way to make a user admin in the web. Have to do this manually via console. Will update in the future.</li>
        <li>All user forms do not have any styling done, all just barebones. Will update them in the future.</li>
        <li>Installed simple form gem for simplicity.</li>
      </ul>
    </ul>
    <br>
    <div class="flex justify-items-start">
      <%= image_tag "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAA2CAYAAACP8mT1AAAAAXNSR0IArs4c6QAAAnlJREFUeF7t2VFOwzAMBmB2Fi60K3AvJB44wLgQZwF1UqZSkvi3/Tt2pfFK59rfHCftLu+ft5+X5x8kcHliQU73i5Zhvb5d7zf8/vjCswOujIrbu/USrFZQS4AFFhV39B2FYx0LYoFFxZ01cyjWqCDvcpzF9cZOwZIKshaFxLXGlkZkSGehBWmL0sTVxpagQnZDaZb0/o8MfOlz0n0RDOkaamehCUuFH5NGr0fvL6GE74baRD0As07U5qGBo3SWNUEJTPr/qFBrPhKcG8ub2AjECtUK9uZFP8GzEkJ2OWQTQGadZ5c0dxYLSuoET3HbZ5l5mrCYCey7oXpcNdbqgrydJXWuZnmrsDKgWA/ejCUJY2VCVQGDsFZC7ZeF9/jAPoeJWFlQs1mjmTNMsClWNlQ1sCFWFahKYF2salBVwP5hVYWqAPYHqzpUNtgDayUU41Secaw4JVbUFzs65bejStoytHZXFtSWb+qA14JlQnWxGA+czFMz862BJq/eU0KJQ6nUYdkd1ZDLPO6MwKpADZdhlbeXlaAgrKwZVg0KxsoA6w3jqFczaFzxfVbmktzfGy1otONJB87Z56AB3wsQtTxmvx1WgFItw8wO82KxniNVyzASTPpV2grGgjJ3FvtULUG1+2nBmFBuLMYuOSrIOxvZUBQsD5hUkBVMiovsfL1rzDPrGExbGFpQVFwLGA1L02EolHY2auNqwahYCJi1IKnDrHE1YHSsGZj3EQbdNbf7aHdOBC0ECwWzFISAWeKmYklgnoKiH41GcGGdNRvOHqjouLMOC8c6dhgDqgfGjJvWWfvCIgralmRE3NBDKTIgz37NkmV4dqSW/y/eOIpTgmaEQwAAAABJRU5ErkJggg==" %>
      <h2 class="text-4xl font-bold m-2">Updates</h2>
    </div>
    <br>
    <ul class="border border-black p-4">
      <div class="divide-y-2 divide-black">
        <p><em>Need to update in order to get some functionalities to work, it's worth it, trust me.</em></p>
        <br>
        <p></p>
      </div>
      <br>
      <li><strong>Navbar</strong></li>
      <br>
      <p><em>As promised, navbar will be updated after configuring Devise. Users can actually create an account now!</em></p>
      <br>
      <ul class="list-disc list-inside">
        <li>Configured to display all RSpec messages as default only showed what failed and what passed in a dot/x format.</li>
        <li>Clicking the icon on the top left of the navbar will direct user to homepage instead of scrolling back to the top of the page.</li>
        <li>Navbar now displays Edit Profile and Sign Out buttons on the right side when user is logged in.</li>
      </ul>
      <br>
      <p class="border-b-2 border-black"></p>
      <br>
      <li><strong>Landing Page</strong></li>
      <br>
      <p><em>Silly typos...</em></p>
      <br>
      <ul class="list-disc list-inside">
        <li>Updated a typo.</li>
      </ul>
      <br>
      <p class="border-b-2 border-black"></p>
      <br>
      <li><strong>Testing</strong></li>
      <br>
      <p><em>This is more for the developers moving forward... unless?</em></p>
      <br>
      <ul class="list-disc list-inside">
        <li>Github pipeline now has postgres configurations and specific rails commands for both rubocop and rspec testings.</li>
        <li>The default documentation for RSpec was not helpful, therefore, the format has changed to be more robust, more info the better.</li>
        <li>Installed Pry gem for more test help.</li>
      </ul>
    </ul>
    <br>
    <div class="flex justify-items-start">
      <%= image_tag "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAA2CAYAAACP8mT1AAAAAXNSR0IArs4c6QAAAnlJREFUeF7t2VFOwzAMBmB2Fi60K3AvJB44wLgQZwF1UqZSkvi3/Tt2pfFK59rfHCftLu+ft5+X5x8kcHliQU73i5Zhvb5d7zf8/vjCswOujIrbu/USrFZQS4AFFhV39B2FYx0LYoFFxZ01cyjWqCDvcpzF9cZOwZIKshaFxLXGlkZkSGehBWmL0sTVxpagQnZDaZb0/o8MfOlz0n0RDOkaamehCUuFH5NGr0fvL6GE74baRD0As07U5qGBo3SWNUEJTPr/qFBrPhKcG8ub2AjECtUK9uZFP8GzEkJ2OWQTQGadZ5c0dxYLSuoET3HbZ5l5mrCYCey7oXpcNdbqgrydJXWuZnmrsDKgWA/ejCUJY2VCVQGDsFZC7ZeF9/jAPoeJWFlQs1mjmTNMsClWNlQ1sCFWFahKYF2salBVwP5hVYWqAPYHqzpUNtgDayUU41Secaw4JVbUFzs65bejStoytHZXFtSWb+qA14JlQnWxGA+czFMz862BJq/eU0KJQ6nUYdkd1ZDLPO6MwKpADZdhlbeXlaAgrKwZVg0KxsoA6w3jqFczaFzxfVbmktzfGy1otONJB87Z56AB3wsQtTxmvx1WgFItw8wO82KxniNVyzASTPpV2grGgjJ3FvtULUG1+2nBmFBuLMYuOSrIOxvZUBQsD5hUkBVMiovsfL1rzDPrGExbGFpQVFwLGA1L02EolHY2auNqwahYCJi1IKnDrHE1YHSsGZj3EQbdNbf7aHdOBC0ECwWzFISAWeKmYklgnoKiH41GcGGdNRvOHqjouLMOC8c6dhgDqgfGjJvWWfvCIgralmRE3NBDKTIgz37NkmV4dqSW/y/eOIpTgmaEQwAAAABJRU5ErkJggg==" %>
      <h2 class="text-4xl font-bold m-2">Bug Fixes</h2>
    </div>
    <br>
    <ul class="border border-black p-4">
      <div class="divide-y-2 divide-black">
        <p><em>Just like in real life, we need to take care of these bugs. Only difference is, I only like computer bugs and enjoy on how I can fix them.</em></p>
        <br>
        <p></p>
      </div>
      <br>
      <li><strong>Navbar</strong></li>
      <br>
      <p><em>Even though this patch was about user account creation, navbar is shining quite brightly as it is a core unit that is holding down on what the user can do.</em></p>
      <br>
      <ul class="list-disc list-inside">
        <li>The hamburger menu was not closing properly even after the user clicks on the X mark (Close button).</li>
        <li>Changed the existing script to a function to ensure the closing and opening the hamburger menu works via turbo load of said function. Also added jquery.</li>
      </ul>
    </ul>
  </div>
  <div>
    <%= render partial: 'versions' %>
  </div>
</div>
