<div class="flex justify-between p-8">
  <div class="w-full">
    <h1 class="text-4xl font-bold text-center">Patch Notes v8.2.0</h1>
    <br />

    <h4 class="text-xl font-bold">December 29, 2023 ·
      <%= distance_of_time_in_words_to_now(Date.new(2023, 12, 29).in_time_zone('Pacific Time (US & Canada)')) %> ago
    </h4>
    <p><em>by: Patrick Kim</em></p>
    <br />

    <p class="border-b-2 border-black">
      Projects page is done. Not really a feature, so just like the previous patch, this will be considered a major
      update, not a feature update nor a minor update.
    </p>
    <br />

    <div class="flex justify-items-start">
      <%= image_tag "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAA2CAYAAACP8mT1AAAAAXNSR0IArs4c6QAAAnlJREFUeF7t2VFOwzAMBmB2Fi60K3AvJB44wLgQZwF1UqZSkvi3/Tt2pfFK59rfHCftLu+ft5+X5x8kcHliQU73i5Zhvb5d7zf8/vjCswOujIrbu/USrFZQS4AFFhV39B2FYx0LYoFFxZ01cyjWqCDvcpzF9cZOwZIKshaFxLXGlkZkSGehBWmL0sTVxpagQnZDaZb0/o8MfOlz0n0RDOkaamehCUuFH5NGr0fvL6GE74baRD0As07U5qGBo3SWNUEJTPr/qFBrPhKcG8ub2AjECtUK9uZFP8GzEkJ2OWQTQGadZ5c0dxYLSuoET3HbZ5l5mrCYCey7oXpcNdbqgrydJXWuZnmrsDKgWA/ejCUJY2VCVQGDsFZC7ZeF9/jAPoeJWFlQs1mjmTNMsClWNlQ1sCFWFahKYF2salBVwP5hVYWqAPYHqzpUNtgDayUU41Secaw4JVbUFzs65bejStoytHZXFtSWb+qA14JlQnWxGA+czFMz862BJq/eU0KJQ6nUYdkd1ZDLPO6MwKpADZdhlbeXlaAgrKwZVg0KxsoA6w3jqFczaFzxfVbmktzfGy1otONJB87Z56AB3wsQtTxmvx1WgFItw8wO82KxniNVyzASTPpV2grGgjJ3FvtULUG1+2nBmFBuLMYuOSrIOxvZUBQsD5hUkBVMiovsfL1rzDPrGExbGFpQVFwLGA1L02EolHY2auNqwahYCJi1IKnDrHE1YHSsGZj3EQbdNbf7aHdOBC0ECwWzFISAWeKmYklgnoKiH41GcGGdNRvOHqjouLMOC8c6dhgDqgfGjJvWWfvCIgralmRE3NBDKTIgz37NkmV4dqSW/y/eOIpTgmaEQwAAAABJRU5ErkJggg==" %>
      <h2 class="text-4xl font-bold m-2">New Implementations</h2>
    </div>
    <br />

    <ul class="border border-black p-4">
      <p>
        <em>
          For now, I can only direct users to relevent links to my projects. I will eventually load them up in the same
          website.
        </em>
      </p>
      <br />

      <p class="border-b-2 border-black"></p>
      <br />

      <li><strong>Projects</strong></li>
      <br />

      <p><em>A simple list of projects, from most recent to oldest.</em></p>
      <br />

      <ul class="list-disc list-inside">
        <li>Added Projects page.</li>
        <li>Each project will have an image on the left side.</li>
        <li>Each project will have a title on the middle.</li>
        <li>Each project will have a date, sub-title, and a paragraph on the right side.</li>
        <li>Each image will be linkable to a relevant source.</li>
        <li>Each title will be linkable to a relevant source.</li>
        <li>Users will be directed to a new browser tab when clicking on any of project links.</li>
      </ul>
      <br />

    </ul>

    <br />
    <div class="flex justify-items-start">
      <%= image_tag "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAA2CAYAAACP8mT1AAAAAXNSR0IArs4c6QAAAnlJREFUeF7t2VFOwzAMBmB2Fi60K3AvJB44wLgQZwF1UqZSkvi3/Tt2pfFK59rfHCftLu+ft5+X5x8kcHliQU73i5Zhvb5d7zf8/vjCswOujIrbu/USrFZQS4AFFhV39B2FYx0LYoFFxZ01cyjWqCDvcpzF9cZOwZIKshaFxLXGlkZkSGehBWmL0sTVxpagQnZDaZb0/o8MfOlz0n0RDOkaamehCUuFH5NGr0fvL6GE74baRD0As07U5qGBo3SWNUEJTPr/qFBrPhKcG8ub2AjECtUK9uZFP8GzEkJ2OWQTQGadZ5c0dxYLSuoET3HbZ5l5mrCYCey7oXpcNdbqgrydJXWuZnmrsDKgWA/ejCUJY2VCVQGDsFZC7ZeF9/jAPoeJWFlQs1mjmTNMsClWNlQ1sCFWFahKYF2salBVwP5hVYWqAPYHqzpUNtgDayUU41Secaw4JVbUFzs65bejStoytHZXFtSWb+qA14JlQnWxGA+czFMz862BJq/eU0KJQ6nUYdkd1ZDLPO6MwKpADZdhlbeXlaAgrKwZVg0KxsoA6w3jqFczaFzxfVbmktzfGy1otONJB87Z56AB3wsQtTxmvx1WgFItw8wO82KxniNVyzASTPpV2grGgjJ3FvtULUG1+2nBmFBuLMYuOSrIOxvZUBQsD5hUkBVMiovsfL1rzDPrGExbGFpQVFwLGA1L02EolHY2auNqwahYCJi1IKnDrHE1YHSsGZj3EQbdNbf7aHdOBC0ECwWzFISAWeKmYklgnoKiH41GcGGdNRvOHqjouLMOC8c6dhgDqgfGjJvWWfvCIgralmRE3NBDKTIgz37NkmV4dqSW/y/eOIpTgmaEQwAAAABJRU5ErkJggg==" %>
      <h2 class="text-4xl font-bold m-2">Updates</h2>
    </div>
    <br />

    <ul class="border border-black p-4">
      <p><em>Did some refactoring.</em></p>
      <br />

      <p class="border-b-2 border-black"></p>
      <br />

      <li><strong>About</strong></li>
      <br />

      <p><em>Naming convention can be tricky at times.</em></p>
      <br />

      <ul class="list-disc list-inside">
        <li>Changed About Me's naming convention to About.</li>
        <li>Moved controller to Pages Controller since it only needed to show case the about page.</li>
        <li>Only the path changed from about_me to about.</li>
      </ul>
      <br />

      <p class="border-b-2 border-black"></p>
      <br />

      <li><strong>Home</strong></li>
      <br />

      <p><em>Give users some options of seeing that long list in the homepage.</em></p>
      <br />

      <ul class="list-disc list-inside">
        <li>Added more bullet points.</li>
        <li>Crossed out some bullet points.</li>
        <li>Added a javascript where if a button is clicked, the todo list will show or hide.</li>
        <li>Added a link to my wedding website.</li>
        <li>Updated content in home page.</li>
      </ul>
      <br />

      <p class="border-b-2 border-black"></p>
      <br />

      <li><strong>Navbar</strong></li>
      <br />

      <p><em>All menus should be fully functional now!</em></p>
      <br />

      <ul class="list-disc list-inside">
        <li>
          Updated both in regular and hamburger menu for Projects to be linked and have users direct them to the Projects
          page.
        </li>
        <li>Updated name of About Me to About for both menus in hamburger and regular.</li>
      </ul>
      <br />

      <p class="border-b-2 border-black"></p>
      <br />

      <li><strong>Patch Note</strong></li>
      <br />

      <p><em>Projects branch</em></p>
      <br />

      <ul class="list-disc list-inside">
        <li>Added v8.2.0 patch note.</li>
      </ul>
      <br />

      <p class="border-b-2 border-black"></p>
      <br />

      <li><strong>Generality</strong></li>
      <br />

      <p><em>Ton of refactoring in the front-end.</em></p>
      <br />

      <ul class="list-disc list-inside">
        <li>Replaced all line break tags to a more consistent one for cleaner and easier to read code.</li>
        <li>Application version update from 8.1.0 to 8.2.0.</li>
        <li>Refactored all HTML files for cleaner code and readability.</li>
      </ul>
      <br />

      <p class="border-b-2 border-black"></p>
      <br />

      <li><strong>Testing</strong></li>
      <br />

      <p><em>Everything is almost all done.</em></p>
      <br />

      <ul class="list-disc list-inside">
        <li>Added RSpec testing for Projects page for view.</li>
      </ul>
    </ul>
    <br />

    <div class="flex justify-items-start">
      <%= image_tag "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAA2CAYAAACP8mT1AAAAAXNSR0IArs4c6QAAAnlJREFUeF7t2VFOwzAMBmB2Fi60K3AvJB44wLgQZwF1UqZSkvi3/Tt2pfFK59rfHCftLu+ft5+X5x8kcHliQU73i5Zhvb5d7zf8/vjCswOujIrbu/USrFZQS4AFFhV39B2FYx0LYoFFxZ01cyjWqCDvcpzF9cZOwZIKshaFxLXGlkZkSGehBWmL0sTVxpagQnZDaZb0/o8MfOlz0n0RDOkaamehCUuFH5NGr0fvL6GE74baRD0As07U5qGBo3SWNUEJTPr/qFBrPhKcG8ub2AjECtUK9uZFP8GzEkJ2OWQTQGadZ5c0dxYLSuoET3HbZ5l5mrCYCey7oXpcNdbqgrydJXWuZnmrsDKgWA/ejCUJY2VCVQGDsFZC7ZeF9/jAPoeJWFlQs1mjmTNMsClWNlQ1sCFWFahKYF2salBVwP5hVYWqAPYHqzpUNtgDayUU41Secaw4JVbUFzs65bejStoytHZXFtSWb+qA14JlQnWxGA+czFMz862BJq/eU0KJQ6nUYdkd1ZDLPO6MwKpADZdhlbeXlaAgrKwZVg0KxsoA6w3jqFczaFzxfVbmktzfGy1otONJB87Z56AB3wsQtTxmvx1WgFItw8wO82KxniNVyzASTPpV2grGgjJ3FvtULUG1+2nBmFBuLMYuOSrIOxvZUBQsD5hUkBVMiovsfL1rzDPrGExbGFpQVFwLGA1L02EolHY2auNqwahYCJi1IKnDrHE1YHSsGZj3EQbdNbf7aHdOBC0ECwWzFISAWeKmYklgnoKiH41GcGGdNRvOHqjouLMOC8c6dhgDqgfGjJvWWfvCIgralmRE3NBDKTIgz37NkmV4dqSW/y/eOIpTgmaEQwAAAABJRU5ErkJggg==" %>
      <h2 class="text-4xl font-bold m-2">Bug Fixes</h2>
    </div>
    <br />

    <ul class="border border-black p-4">
      <p><em>Resume PDF file was not working, it is not the Rails root path this time.</em></p>
      <br />

      <p class="border-b-2 border-black"></p>
      <br />

      <li><strong>Production</strong></li>
      <br />

      <p><em>Changed a configuration where the public file will now be available.</em></p>
      <br />

      <ul class="list-disc list-inside">
        <li>Fixed a bug where the resume PDF file was not being found.</li>
      </ul>
    </ul>
  </div>

  <div>
    <%= render partial: 'versions' %>
  </div>
</div>
