<div id="<%= dom_id blog_post %>" class="break-all">
  <% if @blog_posts %>
    <br />
    <strong><%= blog_post.title&.capitalize %> ·</strong>
    <%= distance_of_time_in_words_to_now(blog_post.created_at.in_time_zone('Pacific Time (US & Canada)')) %> ago
    <br /><br />
    <span class="line-clamp-3"><%= raw blog_post.body %></span>
    <br />
    <button>
      <%= link_to "Read more ->", blog_post, class: "underline" %>
    </button>
  <% else %>
    <strong class="flex justify-center"><%= blog_post.title&.capitalize %></strong>
    <br /><br />
    <span><%= raw blog_post.body %></span>
    <br />
    <p id="age_<%= blog_post.id %>">
      Posted: <%= distance_of_time_in_words_to_now(blog_post.created_at.in_time_zone('Pacific Time (US & Canada)')) %> ago
    </p>
  <% end %>
  <br /><br />
</div>
