<%= simple_form_for(@blog_post) do |f| %>
  <% if @blog_post.errors.any? %>
    <% flash.now[:error] = @blog_post.errors.full_messages %>
    <% @blog_post.errors.full_messages.each do |error| %>
      <strong class="text-red-500 flex justify-center items-center"><%= error %></strong>
    <% end %>
    </br>
  <% end %>

  <div class="form-inputs mb-4">
    <%= f.label 'Title', class: "text-xl text-pink-300" %> <span class="text-red-500">*</span></br>
    <%= f.input :title, label: false, class: "border-2 border-gray-300 p-2 w-full" %></br>

    <%= f.label 'Body', class: "text-xl text-pink-300" %> <span class="text-red-500">*</span></br>
    <%= f.text_area :body, class: "tinymce border-2 border-gray-500", rows: 40, cols: 120 %>
    <%= tinymce %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="form-actions contents">
    <%= f.button :submit, class: "p-3 bg-green-500 hover:bg-[#bf04ff] text-black font-bold transition duration-200" %>
  </div>
<% end %>

<div class="flex-1">
  <button class="p-3 bg-red-500 hover:bg-[#bf04ff] text-black font-bold transition duration-200"><%= link_to "Cancel", blog_posts_path %></button>
</div>