<%= turbo_frame_tag "new_blog_comment" do %>
  <%= simple_form_for([blog_post, blog_post.blog_comments.build]) do |f| %>
    <% if blog_comment.errors.any? %>
      <% flash.now[:error] = blog_comment.errors.full_messages %>
      <% blog_comment.errors.full_messages.each do |error| %>
        <strong class="text-red-500 flex justify-center items-center"><%= error %></strong>
      <% end %>
      <br />
    <% end %>
    <div class="form-group">
      <%= f.label 'New comment' %><br />
      <%= f.text_area :body, class: 'form-control w-full h-24' %>
      <%= f.hidden_field :user_id, value: user.id %>
    </div>
    <%= f.submit 'Submit', class: "py-2 px-6 bg-green-500 hover:bg-[#bf04ff] text-sm text-black font-bold rounded-xl transition duration-200" %>
  <% end %>
<% end %>
