<div class="card ml-5">
  <div class="card-body">
    <%= simple_form_for([@blog_post, @blog_comment]) do |f| %>
      <%= f.hidden_field :parent_id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="form-group">
        <%= f.label 'Reply' %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary', data: { disable_with: 'Submitting...' } %>
      <%= link_to 'Cancel', blog_post_path(@blog_post), class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
