<!-- component -->
<body>
  <nav class="flex justify-between items-center bg-black">
    <a class="max-w-[5%]" href="/">
      <%= image_tag "pkim_logo.png" %>
    </a>
    <div class="lg:hidden">
      <button class="navbar-burger flex items-center text-[#bf04ff] p-3">
        <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>
    <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
      <li><a class="text-sm text-[#bf04ff] hover:text-pink-300" href="/">Home</a></li>
      <li class="text-[#bf04ff]">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </li>
      <li><a class="text-sm text-[#bf04ff] hover:text-pink-300" href="#">About Me</a></li>
      <li class="text-[#bf04ff]">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </li>
      <li><%= link_to "Blog", blog_posts_path, class: "text-sm text-[#bf04ff] hover:text-pink-300" %></li>
      <li class="text-[#bf04ff]">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </li>
      <li><a class="text-sm text-[#bf04ff] hover:text-pink-300" href="#">Projects</a></li>
      <li class="text-[#bf04ff]">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </li>
      <li><a class="text-sm text-[#bf04ff] hover:text-pink-300" href="#">Resume</a></li>
    </ul>
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-[#bf04ff] hover:bg-pink-300 text-sm text-black font-bold rounded-xl transition duration-200" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "hidden lg:inline-block py-2 px-6 mr-4 bg-red-500 hover:bg-[#bf04ff] text-sm text-black font-bold rounded-xl transition duration-200" %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-green-500 hover:bg-[#bf04ff] text-sm text-black font-bold rounded-xl transition duration-200" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "hidden lg:inline-block py-2 px-6 mr-4 bg-blue-500 hover:bg-[#bf04ff] text-sm text-white font-bold rounded-xl transition duration-200" %>
    <% end %>
  </nav>
  <div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm bg-black border-r overflow-y-auto">
      <div class="flex items-center mb-8">
        <a class="mr-auto text-3xl font-bold leading-none" href="/">
          <%= image_tag "pkim_logo.png" %>
        </a>
        <button class="navbar-close">
          <svg class="w-6 text-[#bf04ff] cursor-pointer hover:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-[#bf04ff] hover:text-black hover:bg-pink-300 rounded" href="/">Home</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-[#bf04ff] hover:text-black hover:bg-pink-300 rounded" href="#">About Me</a>
          </li>
          <li class="mb-1">
            <%= link_to "Blog", blog_posts_path, class: "block p-4 text-sm font-semibold text-[#bf04ff] hover:text-black hover:bg-pink-300 rounded" %>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-[#bf04ff] hover:text-black hover:bg-pink-300 rounded" href="#">Projects</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-[#bf04ff] hover:text-black hover:bg-pink-300 rounded" href="#">Resume</a>
          </li>
        </ul>
      </div>
      <div class="mt-auto">
        <div class="pt-6">
          <% if current_user %>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold bg-[#bf04ff] hover:bg-pink-300 rounded-xl" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "block px-4 py-3 mb-8 leading-loose text-xs text-center text-black font-semibold bg-red-500 hover:bg-[#bf04ff] rounded-xl" %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold bg-green-500 hover:bg-[#bf04ff] rounded-xl" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "block px-4 py-3 mb-8 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-[#bf04ff] rounded-xl" %>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
</body>
