<!DOCTYPE html>
<html>
  <head>
    <title>Patrick Kim</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag asset_path('pkim_icon.ico') %>

    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
  </head>

  <body class="bg-gray-400">
    <%= render partial: "layouts/notifications", locals: { message: flash } %>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
