<!DOCTYPE html>
<html>
  <head>
    <title>Patrick Kim</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag asset_path('pkim_icon.ico') %>

    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
  </head>

  <body class="bg-gray-400">
    <%= render partial: "layouts/notifications", locals: { message: flash } %>
    <%= render "layouts/navbar" %>
    <!-- Back to top button -->
    <button
      type="button"
      data-te-ripple-init
      data-te-ripple-color="light"
      class="!fixed bottom-5 right-5 hidden rounded-full bg-[#bf04ff] p-3 text-xs font-medium uppercase leading-tight text-black shadow-md transition duration-150 ease-in-out hover:bg-pink-300 hover:shadow-lg focus:bg-pink-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-500 active:shadow-lg"
      id="btn-back-to-top">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        class="h-4 w-4"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512">
        <path
          fill="currentColor"
          d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"></path>
      </svg>
    </button>
    <%= yield %>
  </body>
</html>
